<section class="dashboard" [@fadeIn]="'in'">
  <app-dashboard-header
    (signOut)="signOut()"
    (goToSettings)="goToSettings()">
  </app-dashboard-header>

  <app-server-selector
    [selectedServer]="selectedServer"
    (openVpnList)="openVpnList()">
  </app-server-selector>

  <app-plan-info
    [subscriptionData]="currentUser?.subscriptionData"
    [overviewData]="overviewData$ | async">
  </app-plan-info>

<!--  <app-timer>-->
<!--  </app-timer>-->

  <app-vpn-toggle
    [isConnected]="isConnected"
    [isConnecting]="isConnecting"
    [isConnectionError]="isConnectionError"
    (vpnConnectToggle)="vpnConnectToggle()">
  </app-vpn-toggle>

</section>
