.dashboard {
  //display: flex;
  //align-items: center;
  //flex-direction: column;
  //justify-content: space-between;
  //height: 100%;

  .header {
    height: 64px;
  }

  .content {
    .connect-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100px;
      width: 100px;
      font-size: 14px;
      color: #ffffff;
      background-color: #EC5A50;
      border-radius: 50px;
      cursor: pointer;
      box-shadow: 4px 4px 8px 0 rgb(34 60 80);
      transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;

      &.active {
        background-color: #79aa00;

        &:hover {
          background-color: #5f8600;
        }
      }
      &:hover {
        background-color: #EC5A50;
        box-shadow: 4px 8px 8px 0 rgb(34 60 80);
        transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
      }
    }
  }

  .footer {
    width: 100%;
  }
}
