.dashboard__header {
  background-color: #3c4246;
  text-align: center;
  padding: 16px 0;
  color: white;

  .burger {
    position: absolute;
    top: 14px;
    left: 16px;
    cursor: pointer;
  }

  h3 {
    font-weight: 100;
    font-size: 18px;
    margin: 0;
  }
}
