<div class="vpn-list" [@fadeIn]="'in'">
  <div class="header">
    <div class="navigation">
      <span class="material-icons arrow-back" (click)="goToDashboard()">arrow_back</span>
      <p>Locations</p>
    </div>
    <div class="search">
      <input [formControl]="formControl" type="text" placeholder="Search location">
    </div>
  </div>

  <div *ngIf="proxyDataFilter; else noData" class="list">
    <div class="location-section" *ngIf="proxyDataUsed">
      <h3 class="label">
        Recently Used
      </h3>
      <div *ngFor="let proxy of proxyDataUsed" class="location" (click)="selectLocation(proxy)">
        <div class="label">
          <div class="vpn-logo"><img [src]="proxy.image" alt=""></div>
          <div class="vpn-name">{{proxy.locationName}}</div>
        </div>
        <div>{{proxy.id}}</div>
        <div class="ping">{{proxy.ping}} ms</div>
      </div>
    </div>

    <div class="location-section">
      <div class="location-section-best">
        <input type="checkbox" name="Best Location" [formControl]="bestPingCheckbox">
        <label for="Best Location">Autoselect server with the best Ping</label>
      </div>
      <h3 class="label">
        All locations ({{proxyDataFilter.length}})
      </h3>
      <div *ngFor="let proxy of proxyDataFilter" class="location" (click)="selectLocation(proxy)">
        <div class="label">
          <div class="vpn-logo"><img [src]="proxy.image" alt=""></div>
          <div class="vpn-name">{{proxy.locationName}}</div>
        </div>
        <span class="icon icon-play" [class]="proxy.isAllowedStream ? 'icon-green' : 'icon-gray'"></span>
        <span class="icon icon-p2p" [class]="proxy.isAllowedP2P ? 'icon-green' : 'icon-gray'"></span>
        <div>{{proxy.id}}</div>
        <div class="ping">{{proxy.ping}} ms</div>
      </div>
    </div>
  </div>

  <ng-template #noData>
    <p>No data</p>
  </ng-template>
</div>
