.vpn-list {
  background-color: #131313;
  color: #d8d8d8;

  p {
    margin: 0;
  }

  .header {
    padding: 16px;
  }

  .list {
    max-height: 496px;
    overflow-y: scroll;

    .location-section {
      .h3 {
        color: white;
      }
      .location {
        display: flex;
        justify-content: space-between;
        padding: 16px;
        cursor: pointer;

        &:hover {
          background-color: #cacaca;
        }

        .label {
          display: flex;
        }
      }
    }
  }
}
