.vpn-list {
  background-color: #131313;
  color: #d8d8d8;

  p {
    margin: 0;
  }

  .header {
    padding: 16px;

    .navigation {
      text-align: center;
      padding-bottom: 10px;
      font-size: 16px;
      position: relative;

      .arrow-back {
        position: absolute;
        top: -2px;
        left: 0;
        cursor: pointer;
      }
    }

    .search {
      input {
        background-color: #4d4d4d;
        padding: 9px;
        border: none;
        border-radius: 4px;
        caret-color: #888888;
        color: white;
        width: 100%;
        box-sizing: border-box;

        &:focus-visible {
          outline: 3px solid #343434;
        }
      }
    }
  }

  ::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .list {
    max-height: 472px;
    overflow-y: scroll;

    .location-section {
      &-best {
        display: flex;
        align-items: center;
        padding-left: 16px;

        input {
          margin-left: 0;
        }
      }

      h3 {
        color: white;
        padding: 16px;
        margin: 0;
      }
      .location {
        display: flex;
        justify-content: space-between;
        padding: 16px;
        cursor: pointer;

        &:hover {
          background-color: #282828;
        }

        .label {
          display: flex;

          .vpn-logo img {
            width: 18px;
            height: 18px;
            margin-right: 4px;
            border-radius: 12px;
          }
        }
      }
    }
  }
}

@font-face {
  font-family: 'zoogvpn-font';
  src: url('../../../../../assets/images/icons/fonts/zoogvpn-font.eot?7colr');
  src: url('../../../../../assets/images/icons/fonts/zoogvpn-font.eot?7colr#iefix') format('embedded-opentype'),
  url('../../../../../assets/images/icons/fonts/zoogvpn-font.ttf?7colr') format('truetype'),
  url('../../../../../assets/images/icons/fonts/zoogvpn-font.woff?7colr') format('woff'),
  url('../../../../../assets/images/icons/fonts/zoogvpn-font.svg?7colr#zoogvpn-font') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'zoogvpn-font' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 20px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-p2p:before {
  content: "\e90e";
}
.icon-play:before {
  content: "\e905";
}

.icon-green {
  color: #79aa00;
}

.icon-gray {
  color: #8094ae;
}