<div class="vpn-list">
  <div class="header">
    <div class="navigation">
      <span class="arrow-back"></span>
      <p>Locations</p>
    </div>
    <div class="search">
      <input type="text" placeholder="Search location">
    </div>
  </div>

  <div *ngIf="proxyData$ | async as proxyData" class="list">
    <div class="location-section">
      <h3 class="label">
        All locations (2)
      </h3>
      <div *ngFor="let proxy of proxyData" class="location" (click)="selectLocation(proxy)">
        <div class="label">
          <div class="vpn-logo">L</div>
          <div class="vpn-name">{{proxy.locationName}}</div>
        </div>
        <div class="ping">12 ms</div>
      </div>
    </div>
  </div>
</div>
