@import "src/assets/styles/variables";

.sign-in {
  background-image: url('../../../../assets/images/bg-images/auth-bg.png');
  height: 100%;

  .gradient {
    height: 100%;
    background: linear-gradient(89.39deg, rgba(0, 194, 230, 0.61) 0.58%, rgba(0, 84, 90, 0.61) 45.42%, rgba(20, 29, 0, 0.61) 99.52%, rgba(20, 29, 0, 0.61) 99.53%);

    .zoog-logo {
      display: block;
      margin: 0 auto;
      padding-top: 20px;
    }

    .policy {
      display: block;
      text-align: center;
      margin-top: 80px;
      color: $accent-color;
      transition: 0.3s;

      &:hover {
        color: #9bd802;
      }
    }
  }

  &-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 83.5px;
    width: 255px;
    height: 275px;
    border-radius: 10px;
    background-color: rgba(8, 23, 33, 0.85);
    box-shadow: 0px 0px 13px -3px $accent-color;
    padding: 14px 13px 10px 13px;

    &-title {
      color: $accent-color;
      text-align: center;
      font-size: 18px;
      line-height: 24px;
      font-weight: 600;
      margin-bottom: 30px;
    }

    &-input {
      background: rgba(35, 62, 77, 0.75);
      border-radius: 4px;
      width: 230px;
      height: 30px;
      border: 2px solid rgba(35, 62, 77, 0.75);
      padding-left: 10px;
      color: #fff;
      margin-bottom: 10px;
      transition: 0.3s;

      &:hover {
        border-color: #7b94be;
      }

      &:focus {
        outline: none;
        border-color: $accent-color;
        box-shadow: 0 0 5px $accent-color;
      }

      &::placeholder {
        color: #fff;
      }
    }

    &-btn {
      margin-top: 5px;
      background-color: $accent-color;
      width: 230px;
      height: 30px;
      border: none;
      color: #fff;
      border-radius: 4px;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        background-color: #8dc500;
      }
    }
  }

  &-register {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;

    &-text {
      line-height: 19px;
      color: #fff;
    }

    &-link {
      color: $accent-color;
      text-decoration: none;
      transition: 0.3s;

      &:hover {
        color: #9bd802;
      }
    }
  }
}
