<div class="sign-in">
  <div class="gradient">
    <img src="../../../../assets/images/icons/zoog-vpn-logo.png" alt="zoog-logo" class="zoog-logo">
  
    <form class="sign-in-form" [formGroup]="form">
      <h1 class="sign-in-form-title">Login to Your Account</h1>
      <input type="email" formControlName="email"
            placeholder="Ex. pat@example.com" class="sign-in-form-input">


      <input type="password" formControlName="password" class="sign-in-form-input">

      <button (click)="loginUser()" class="sign-in-form-btn">Login to Your Account</button>
    
      <div class="sign-in-register">
        <div class="sign-in-register-text">Don't have a ZoogVPN account yet?</div>
        <a href="https://zoogvpn.com" class="sign-in-register-link">Sign Up</a>
      </div>

    </form>

  </div>
</div>
