.vpn-toggle {
  background-color: #3c4246;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  height: 290px;

  .toggle-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    font-size: 14px;
    color: #85a832;
    border: 4px solid #85a832;
    border-radius: 50%;
    cursor: pointer;

    &.connected {
      color: #EC5A50;
      border-color: #EC5A50;

      &:hover {

      }
    }

    &:hover {

    }
  }

  .label {
    color: #7b7c7c;
    padding-top: 10px;
    font-size: 14px;
  }
}
