<div class="vpn-toggle">
    <span class="toggle-btn" [class]="!connectAvailable ? 'connectionError' : isConnected ? 'connected' : isConnecting ? 'connecting' : isConnectionError ? 'connectionError' : ''"
          (click)="vpnConnectToggle.emit()">
      <span class="material-icons">power_settings_new</span>
    </span>
    <span class="lds-dual-ring" [class]="isConnected ? 'connected' : isConnecting ? 'connecting' : isConnectionError ? 'connectionError' : ''"></span>
  <div class="label">
    <span *ngIf="connectAvailable; else limit" class="label-text">
      <span>{{isConnected ? 'Connected' : isConnecting ? 'Connecting' : isConnectionError ? 'Connection Error' : 'Disconnected'}}</span>
      <span>{{isConnecting ? '' : isConnectionError ? 'Try another server' : ''}}</span>
    </span>
    <ng-template #limit>Limit is reached</ng-template>
  </div>
</div>
