<div class="plan-info">
  <div class="plan-name">
    <p>{{subscriptionData?.tariffName}}</p>
  </div>
  <div class="expiration">
    <div>
      <span class="date-title">VPN plan ends: </span>
      <span class="date">{{subscriptionData?.expiresDate | date:"longDate"}}</span>
    </div>
    <div>
      <div class="btn">Extend</div>
    </div>
  </div>
  <div *ngIf="overviewData?.accountDetails as det" class="bandwidth">
    Bandwidth: {{det.monthlyBandwidthAllowance === 0 ? 'Unlimited' : (det.monthlyUsedBandwidth | bytes:1:'B':'GB':false) + '/' + (det.monthlyBandwidthAllowance | bytes)}}
  </div>
</div>
